<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>API Page</title>
</head>
   {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
                {% for category, message in messages %}
                    {{ message }}
                {% endfor %}
        {% endif %}
    {% endwith %}
<body>
    <h1>Cat Fact</h1>

    {% if fact %}
        <p>{{ fact }}</p>
    {% else %}
        <p>There was some problem so the cat facts cant be retrieved at the moment.</p>
    {% endif %}
</body>
</html>